.container-perfil {
    width: var(--container-width);
    max-width: var(--container-max-width);
    margin: 80px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: var(--container-padding);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    transition: margin-left 0.3s ease;
    position: relative;
}

.perfil-info {
    margin-top: 20px;
}

.perfil-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.perfil-icon {
    font-size: 100px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    flex: 0 0 100px;
    text-align: left;
    margin-right: 10px;
}

.input-group input {
    flex: 2;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}
.input-group input:disabled {
    background-color: rgba(255,255,255,0.05);
}

.edit-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #fff;
}

.save-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-