.container-cadastro {
    /* Herda estilos de .container-base definido em App.css */
    text-align: center; /* Propriedade específica deste container */
}

.container-cadastro h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: right;
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    width: auto; /* Garante que o grupo de input ocupe toda a largura do container */
}

.input-group label {
    width: 100px;         /* Define um espaço fixo para o label */
    flex: 0 0 100px;      /* Impede que o label ocupe mais espaço do que o necessário */
    text-align: right;
    margin-right: 5px;    /* Espaço entre o label e o input */
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
    width: calc(100% - 20px); /* Ajusta a largura para ocupar todo o espaço disponível */
    margin-right: left; /* Adiciona margem à esquerda */
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.switch-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Ajuste o valor conforme necessário para diminuir o espaço */
}

.switch-group label {
    margin-right: 5px; /* Ajuste o valor conforme necessário para diminuir o espaço */
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 5px; /* Ajuste o valor conforme necessário para diminuir o espaço */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
    width: 40px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.button-cadastrar {
    width: 200px;
    height: 60px;
    background-color: var(--button-background-color);
    border: var(--button-border-color);
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
    color: var(--button-text-color);
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.button-cadastrar:hover {
    background-color: var(--button-hover-background-color);
}


.alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeOut 5s forwards;
    color: white;
}

.alert.error {
    background-color: var(--alert-error-color);
  }
  
  .alert.success {
    background-color: var(--alert-success-color);
  }

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}