.container-usuario {
    width: var(--container-width);
    max-width: var(--container-max-width);
    margin: 80px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: var(--container-padding);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    transition: margin-left 0.3s ease;
    position: relative;
}

.container-usuario h1 {
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.add-button svg {
    margin-right: 5px;
}

.button-add {
    width: 200px; /* Define a largura do botão */
    height: 60px;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    bottom: 20px;
}

.button-add:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

th, td {
    padding: 15px;
    text-align: left;
    color: #fff;
}

th {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.edit-button {
    background-color: transparent;
    font-size: 20px;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.edit-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.inactivate-checkbox {
    transform: scale(1.5);
    cursor: pointer;
}

.alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}