/* Reset e tipografia global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

/* Estilos globais da aplicação */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('assets/bg.webp');
  background-size: cover;
  background-position: center;
}

.content {
  flex: 1;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}
.content.sidebar-open {
  margin-left: 250px;
}

/* Botão global */
.button {
  width: 100%;
  height: 50px;
  background-color: var(--button-background-color);
  border: var(--button-border-color);
  outline: none;
  border-radius: var(--border-radius-pill);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  font-size: var(--font-button);
  font-weight: var(--font-weight-button);
  color: var(--button-text-color);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: var(--button-hover-background-color);
  box-shadow: var(--shadow-button-hover);
}

/* Container base - classe comum para todos os containers da aplicação */
.container-base {
  width: var(--container-width, 95%);
  max-width: var(--container-max-width, 1200px);
  margin: 80px auto 0 auto;
  padding: var(--spacing-container-padding);
  background-color: var(--color-primary-alpha-30); /* Fundo azul com 30% de opacidade */
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius-container);
  color: var(--color-white);
  position: relative;
  transition: margin-left 0.3s ease;
}

/* Estilo para o título principal dentro dos containers */
.container-base h1 {
  text-align: center;
  font-size: var(--font-page-title);
  margin-bottom: var(--spacing-xl);
}

/* Media queries globais */
@media (max-width: 900px) {
  :root {
    --container-width: 98%;
    --container-max-width: 90%;
  }
}